<!--vista principal donde muestro el capital actual y el titulo-->
<div class="container">
  <center>
    <h1>Sistema de Prestamos</h1>
    <div class="card-panel  grey lighten-3 z-depth-5">
      <h4>Capital Actual:</h4>
      <div class="row">
        <h2>${{monto}}</h2>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn blue darken-3" href="/clientes">Ingresar Clientes</a>
      <a class="waves-effect waves-light btn blue darken-3" href="/listaclientes">Lista Clientes</a>
      <a class="waves-effect waves-light btn blue darken-3" href="/deudores">Ver Deudores</a>
    </div>
  </center>
</div>